* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F0F0F0;
}

.title {
    color: #FF6A28;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
} 

.box {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 798px;
    height: 574px;
    padding: 20px;
    box-sizing: border-box;
}

.sub-title {
    font-size: 16px;
    color: #61656D;
    margin-top: 8px;
}

.image {
    margin-top: 14px;
}

.instruction-box {
    width: 118px;
    height: 85px;
    background-color: #F0F0F0;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instruction-box-two {
    width: 118px;
    height: 85px;
    background-color: #F0F0F0;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author-box {
    width: 238px;
    height: 85px;
    background-color: #F0F0F0;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 9px;
    color: #61656D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.author {
    color: #FF6A28;
    font-weight: 600;
}

.author-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 11px;
;
}

.instructions-order {
    display: flex;
    flex-direction: row;
}

.instruction-text {
    text-transform: uppercase;
    color: #61656D;
    font-size: 14px;
    margin-top: 5px;
    font-size: 14px;
}

.instruction-result {
    text-transform: uppercase;
    color: #FF6A28;
    font-weight: 600;
    margin-top: 5px;
    font-size: 14px;
}

.icon {
    width: 20px;
    height: 20px;
}

.ingredients-box {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 798px;
    height: 335px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 37px;

}

.ingredients-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 36px;
}

.ingredients-title {
    color: #FF6A28;
    font-size: 20px;
    margin-left: 8px;
    text-transform: uppercase;
}

.ingredients-list {
    color: #61656D;
    margin-left: 27px;
    margin-top: 10px;
}

.extra-information {
    width: 754px;
    height: 34px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.aditional-information {
    color: #61656D;
    font-weight: 700;
    text-transform: uppercase;
}

.extra-text {
    margin-top: 20px;
    color: #61656D;   
    font-size: 14px;
    line-height: 18px;
}